body{
    margin: 0px;
    padding: 0px;
    background-color: cadetblue;
}

#disclaimer{
    text-align: center;
    margin-top: 100px;
    font-family: monospace;
    font-size: 27px;
    color: rgb(248, 244, 244);
    margin-bottom: 50px;
    a{
        list-style: none;
        color: rgb(248, 244, 244);
    }
    a:visited {
        color: rgb(248, 244, 244);
    }
}

.moreInfo{
        text-align: center;
        font-family: monospace;
        font-size: 18px;
        color: rgb(248, 244, 244);
}
.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(23, 93, 95);
   width: 40%;
   margin: auto;
   margin-top: 4%;
   padding: 20px;
   border-radius: 15px;

   #bringUsers, #return{
        cursor: pointer;
        margin: auto;
        outline: none;
        border: none;
        padding: 15px;
        border-radius: 30px;
        margin-bottom: 5%;
   }

   .users{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap ;
       
       
        div{
            
            background-color: rgb(213, 216, 216);
            border-radius: 10px;
            padding: 5px;  
            margin: 7px;
            font-family: monospace;
            font-size: 16px;
            
            p{
                padding-left: 15px;
            }

           .id_tag{
               cursor: pointer;
               outline: none;
               border: 1px solid #333;
            }

            .id_tag:hover{
                color: #fff;
                background-color: rgb(23, 93, 95);
               
            }
            
        }
    }

}


